:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  background-color: #1a1a1a;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  margin-top: 20px;
  text-align: left;
}

input {
  width: 100%;
  padding: 0.6em 1.2em;
  font-size: 1.2em;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: #1a1a1a;
  color: white;
  margin-bottom: 1em;
  transition: border-color 0.25s;
}
input:focus {
  border-color: #646cff;
  outline: none;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-right: 10px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.success-link {
    color: #4caf50;
    text-decoration: underline;
}

pre {
    background: #333;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}
